<!-- <mat-search-box (searchFilter$Change)="updateSearchFilter($event)" [debounce]="500"></mat-search-box><span>{{searchFilter$|async}}</span> -->
<div class="grid-container">
  <!-- xs: 1 column portrait, sm: 1 column landscape, md: 2 col land, lg: 3 col land, xl: 4 col land -->
  <div gdAuto="row" class="cards-container"
      gdColumns.lt-md="1fr" gdColumns.md="1fr 1fr" gdColumns.lg="1fr 1fr 1fr" gdColumns.xl="1fr 1fr 1fr 1fr"
      gdGap="20px">
      <ng-container *ngFor="let item of sortItems(items$ | async)" >
        <gs-item-card *ngIf="!isFiltered(item, user)" [item]="item"></gs-item-card>
      </ng-container>

  </div>
</div>
