.full-width {
  width: 100%;
  position: relative;
}

button {
  margin: 16px 8px;
}

.table-img {
  position: relative;
  max-width: 30px;
  max-height: 30px;
}

.small-chip {
  min-height: 24px;
  padding: 3px 8px;
  font-size: smaller;
  font-weight: bold;
  /* font-variant: small-caps; */
}
.material-cell {
  border-bottom: 1px solid lightgrey;
  padding-left: 10px;
  padding-right: 6px;
}
.chip-list-div {
  padding: 10px;
  overflow-x: hidden;
}
