<div [gdColumns]="showFilters && isCurrentRoute('/mat-item-tiles') ? '200px auto' : 'auto'" >
  <div class="filter-nav" *ngIf="showFilters && isCurrentRoute('/mat-item-tiles')">
    <mat-toolbar color="primary">
      <span>Filters</span>
      <span fxFlex="1 1 auto" class="fill-toolbar"></span>
      <mat-icon class="material-icons icon-button" (click)="toggleFilter()" *ngIf="showFilters">
        chevron_left
      </mat-icon>
    </mat-toolbar>
    <div class="filter-content">
      <h2>Categories</h2>
      <mat-chip-list #chipList>
        <ng-container *ngFor="let tag of getTags()" >
          <mat-chip *ngIf="getTagBadgeCount(tag)>0" 
            [removable]="false" (click)="selectTag(tag)" class="allow-overflow">
            {{tag}}
            <span class="chip-badge-internal">{{getTagBadgeCount(tag)}}</span>
          </mat-chip>
        </ng-container>
      </mat-chip-list>
    </div>
  </div>
  <div>
    <mat-toolbar color="primary">
      <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
        
          
          <i fxFlex="24px" class="material-icons icon-button" (click)="toggleFilter()" *ngIf="!showFilters && isCurrentRoute('/mat-item-tiles')">
            chevron_right
          </i>
          
          <div fxFlex >Griffith Garage Sale</div>
          <div fxFlex  fxLayout="row" fxLayoutAlign="end center">
            <i class="material-icons icon-button" (click)="gotoInfo()">info</i>
            <i *ngIf="isCurrentRoute('/mat-item-tiles') && auth.isAdmin" 
                class="material-icons icon-button" (click)="gotoSaleSettings()">
              view_list
            </i>
          
            <i class="icon-button material-icons" *ngIf="!isCurrentRoute('/mat-item-tiles')"
              (click)="gotoTileList()">
              view_module
            </i>
            <span class="icon" *ngIf="auth.isLoggedIn">
              <img [src]="auth.userData.photoURL" (click)="logout()" >
            </span>
            <i class="icon-button material-icons disabled" *ngIf="!auth.isLoggedIn"  
              (click)="login()">
              account_circle
            </i>
          </div>
       

    </mat-toolbar>
    <div id="filter-container" *ngIf="getChosenTags().length>0 && isCurrentRoute('/mat-item-tiles')">
      <br />
        <mat-chip-list #chipList>
          <mat-chip [color]="isTagNegative(tag) ? 'accent' : 'primary'" selected *ngFor="let tag of getChosenTags()" 
            [removable]="true" (click)="toggleTagPolarity(tag)">
            {{tag}}
            <mat-icon matChipRemove (click)="removeTag(tag)">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>

    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<!--not sure why, but when this '>' is removed, a ghost '>' appears on the display-->

