<!-- <div [gdColumns]="showFilters && isCurrentRoute('tiles') ? '200px auto' : 'auto'" > -->
  

  <div>
    <mat-toolbar color="primary">
        
          
      <div fxFlex >Griffith Garage Sale</div>
      <div fxFlex  fxLayout="row" fxLayoutAlign="end center">
       
          <span *ngIf="!isXs"><ng-container *ngTemplateOutlet="toolbuttons"></ng-container></span>
          <span *ngIf="isXs" >
            <mat-icon class="menu" [matMenuTriggerFor]="hiddenMenu">menu</mat-icon>
            <mat-menu #hiddenMenu="matMenu">
              <ng-container *ngTemplateOutlet="toolbuttons"></ng-container>
            </mat-menu>
          </span>

        
        <button mat-icon-button *ngIf="!auth.isLoggedIn" matTooltip="Log in using Google (to favorite items and save settings)" 
          (click)="login()">
          <mat-icon>
            account_circle
          </mat-icon>
        </button>
        
        <ng-container *ngIf="auth.isLoggedIn">
          <button mat-icon-button matTooltip="Account actions"  [matMenuTriggerFor]="accountMenu" >
            <span class="icon">
              <img [src]="auth.user.photoURL">
            </span>
          </button>
          <mat-menu #accountMenu="matMenu">
            <button mat-menu-item tabindex="-1" (click)="logout()">
              <fa-icon [icon]="faSignOutAlt"></fa-icon>&nbsp;
              <span>Sign Out</span>
            </button>
            <button mat-menu-item tabindex="-1"  (click)="gotoSettings()">
                <fa-icon [icon]="faUserCog"></fa-icon>&nbsp;
                <span>Profile</span>
            </button>
          </mat-menu>
        </ng-container>
      </div>
       

    </mat-toolbar>
  </div>
  <div class="small-text">
    <span><mat-icon class="text-icon">mail_outline</mat-icon><span> to contact us;&nbsp;&nbsp;</span></span> 
    <span><mat-icon class="text-icon material-icons-outlined">chat_outline</mat-icon><span> to leave comments;&nbsp;&nbsp;</span></span>  
    <span>
      <mat-icon class="text-icon">favorite_outline</mat-icon>
      <span> to mark as a favorite  </span>
      <span *ngIf="!auth.isLoggedIn">(requires login using
        <mat-icon class="text-icon">account_circle</mat-icon>
        <span> above)</span>
      </span>
    </span>
  </div>
  <router-outlet></router-outlet>


<ng-template #toolbuttons>
  <button mat-icon-button fxFlex="40px" class="material-icons" [matMenuTriggerFor]="filterMenu"
    matTooltip="Choose what to display based on item type/status">
    <mat-icon [color]="isFilterOn() ? 'warn' : ''">filter_list</mat-icon>
  </button>
  <mat-menu #filterMenu="matMenu">
      <button mat-menu-item tabindex="-1" (click)="toggleFilterState()">
          <span *ngIf="filterIsPaused">
            <fa-icon [icon]="faToggleOff"></fa-icon>&nbsp; <span>Turn Filter On</span>
          </span>
          <span *ngIf="!filterIsPaused">
            <fa-icon [icon]="faToggleOn" style="color: green"></fa-icon>&nbsp; <span>Turn Filter Off</span>
          </span>
      </button>
      <button mat-menu-item tabindex="-1"  (click)="editFilter()">
          <fa-icon [icon]="faEdit"></fa-icon>&nbsp;
          <span>Profile</span>
      </button>
    </mat-menu>


  <button mat-icon-button (click)="gotoInbox()" *ngIf="messageCount > 0" [ngClass]="{'badged-button': newMessageCount>0}"
    matTooltip="Message in your inbox">
    <mat-icon>email</mat-icon>
  </button>
  <div class="badge" *ngIf="newMessageCount>0" >{{newMessageCount}}</div>

  <button mat-icon-button (click)="gotoInfo()" matTooltip="Go to info/help page">
    <mat-icon>info</mat-icon>
  </button>

  <button mat-icon-button *ngIf="isCurrentRoute('tiles')" matTooltip="View as list" (click)="gotoSaleSettings()">
    <mat-icon>view_list</mat-icon>
  </button>

  <button mat-icon-button *ngIf="!isCurrentRoute('tiles')" matTooltip="View as cards"
    (click)="gotoTileList()">
    <mat-icon>view_module</mat-icon>
  </button>


</ng-template>
