<div class="message-sidebar" >
  <table style="font-size: smaller">
    <ng-container *ngFor="let messageBundle of userMessageBundles">
      <tr>
        <td colspan="4">{{messageBundle.userName}} ({{messageBundle.messages.length}})</td>
      </tr>
      <tr>
        <td>  </td>
        <td><i class="far fa-envelope-open"></i></td> 
        <td colspan="2">Read ({{readMessages(messageBundle.messages).length}})</td>
      </tr>
      <tr  *ngFor="let message of readMessages(messageBundle.messages)">
        <td>  </td>
        <td>  </td>
        <td>  </td>
        <td>
          <table>
            <tr>
              <td (click)="showMessage(message)" [matTooltip]="getTooltip(message)">
                {{formatDate(message)}} | {{message.user.displayName}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>  </td>
        <td><i class="far fa-envelope"></i></td> 
        <td colspan="2">Unread ({{unreadMessages(messageBundle.messages).length}})</td>
      </tr>
      <tr  *ngFor="let message of unreadMessages(messageBundle.messages)">
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <td>
            <table class="detail-text">
              <tr>
                <td (click)="showMessage(message)" [matTooltip]="getTooltip(message)" class="clickable">
                  {{formatDate(message)}} | {{message.user.displayName}}
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </ng-container>
  </table>
</div>