.detail-text {
    font-size: smaller;
    font-variant: small-caps;

}
td {
    padding-left: 5px;
    padding-right: 5px
}

.clickable {
    cursor: pointer;
}

.user-row {
    padding-top: 8px;
    font-size: larger;
    font-weight: bold;
}
.message-group {
    font-style: italic
}

.message-row {
    font-size: x-small;
}

.small-icon{
    font-size: xx-small;
}
.read {

}
.unread {
    font-weight: bold;
}
.message-date {
    font-size: xx-small;
    display: block;

}