<div class="message-sidebar" >
  <table style="font-size: smaller">
    <ng-container *ngFor="let messageBundle of userMessageBundles">
      <tr>
        <td colspan="4">{{messageBundle.userName}}</td>
      </tr>
      <tr>
        <td>  </td>
        <td><i class="far fa-envelope-open"></i></td> 
        <td>Read Messages ({{readMessages(messageBundle.messages).length}})</td>
      </tr>
      <tr  *ngFor="let message of readMessages(messageBundle.messages)">
        <td>  </td>
        <td>  </td>
        <td>  </td>
        <td>
          <table>
            <tr>
              <td>{{formatDate(message.entryDateTime)}}</td>
              <td>{{message.user.displayName}}</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>  </td>
        <td><i class="far fa-envelope"></i></td> 
        <td>unread Messages ({{unreadMessages(messageBundle.messages).length}})</td>
      </tr>
      <tr  *ngFor="let message of unreadMessages(messageBundle.messages)">
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <td>
            <table class="detail-text">
              <tr>
                <td>{{formatDate(message.entryDateTime)}}</td>
              </tr>
              <tr>
                <td>{{message.user.displayName}}</td>
              </tr>
            </table>
          </td>
        </tr>
    </ng-container>
  </table>
</div>