.full-width {
  width: 100%;
  position: relative;
}

button {
  margin: 16px 8px;
}

.table-img {
  position: relative;
  max-width: 30px;
  max-height: 30px;
}

.small-chip {
  min-height: 24px;
  padding: 3px 8px;
  font-size: smaller;
  /* font-weight: bold; */
  /* font-variant: small-caps; */
}
.material-cell {
  border-bottom: 1px solid lightgrey;
  padding-left: 10px;
  padding-right: 6px;
}
.chip-list-div {
  padding: 10px;
  overflow-x: hidden;
}
.chip-badge-internal {
  position: relative;
  left: 8px;
  font-size: x-small;
  border-radius: 50%;
  margin: 6px 6px 6px 1px;
  padding: 2px 6px 2px 6px;
  background-color: rgba(173, 168, 168, 0.6)
}
