<div fxLayout="column" class="dialog-container">
<div mat-dialog-header class="header" fxFlex="40px" fxLayout="row">
  <div fxFlex="50%"><h4>Send us an email</h4></div>
  <div fxFlex="auto"></div>

  <span class="buttons">
      <button mat-icon-button (click)="send()" tabindex="-1" class="button"
      [disabled]="!fromEmail || !message || !subject">
        <mat-icon inline="true">send</mat-icon>
      </button>
      <button mat-icon-button (click)="cancel()" tabindex="-1" class="button">
        <mat-icon inline="true">cancel</mat-icon>
      </button>
    </span>

</div>
<div class="content full-width" fxFlex="auto">
  <table class="full-width">
      <tr class="full-width">
          <td class="full-width">
              <mat-form-field class="full-width" >
                  <input disabled matInput [(ngModel)]="toEmail" placeholder="To">
                </mat-form-field>
          </td>
        </tr>
        <tr  class="full-width">
            <td  class="full-width">
              <mat-form-field class="full-width" >
                <input type="email" matInput [(ngModel)]="fromEmail" 
                  placeholder="From" tabindex="-1">
                  <mat-hint *ngIf="!fromEmailValid && fromEmail" class="warning">Email <em>appears</em> to be invalid</mat-hint>
                  <mat-hint *ngIf="!fromEmail" class="warning">You <em>must</em> enter a from email</mat-hint>
              </mat-form-field>
            </td>
          </tr>
          <tr  class="full-width">
            <td  class="full-width">
                <mat-form-field class="full-width">
                <input matInput  [(ngModel)]="subject"  placeholder="Subject" tabindex="-1">
                <mat-hint *ngIf="!subject" class="warning">You <em>must</em> enter a subject</mat-hint>
              </mat-form-field>
            </td>
            </tr>
            <tr class="full-width">
                <td class="full-width full-height">
                  <mat-form-field class="full-width full-height" appearance="outline">
                    <textarea autofocus cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="5" class="full-width full-height" matInput 
                    [(ngModel)]="message" placeholder="Message">
                    </textarea>
                    <mat-hint *ngIf="!message" class="warning">You <em>must</em> enter a message</mat-hint>
                  </mat-form-field>
                </td>
              </tr>
                                
  </table>
</div>
<mat-dialog-actions class="footer" fxFlex="40px" fxFlexAlign="right center">
    <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
    <button mat-raised-button (click)="send()" [disabled]="!fromEmail || !message || !subject">Send</button>
</mat-dialog-actions>
</div>
