.comment-list-container {
    position: relative;
    width: 100%;
    height: 485px;
    overflow-y: scroll;
}
.comment-container {
    background-color: rgb(247, 226, 220);
    border-radius: 5px;
    border: 1px lightslategray solid;
    margin: 5px;
    padding: 8px;
    height: auto;
}
.comment {

}
.dialog-content-noscrollbar {
    overflow-y: hidden;
}
.small-input {
    height: 24px!important;
    font-size: smaller;
}
.comment-details {
    font-size: xx-small;
    font-weight: bold;
}
.input-container {
    position: relative;
    width: 100%;

}
.full-width {
    width: 100%;
}
.return-button {
    position: relative;
    top: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.cancel-icon {
    color: lightgray;
    text-align: right;
}