  <mat-toolbar color="primary">
    <span>Filters</span>
    <span fxFlex="1 1 auto" class="fill-toolbar"></span>
  </mat-toolbar>
  
  <div fxLayout.lt-md="column" fxLayout="row">
    <mat-card fxFlex="1fr">
    <mat-form-field [hintLabel]="getHintLabel('sold',soldItemFilter)">
      <mat-label>Sold Items</mat-label>
      <mat-select [(value)]="soldItemFilter" [matTooltip]="filterOptions[soldItemFilter].tooltip">
        <mat-option *ngFor="let filterOption of filterOptions" [value]="filterOption.value">
          {{filterOption.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
  <mat-card fxFlex="1fr">
      <mat-form-field [hintLabel]="getHintLabel('featured',featuredItemFilter)">
          <mat-label>Featured Items</mat-label>
        <mat-select [(value)]="featuredItemFilter" [matTooltip]="filterOptions[featuredItemFilter].tooltip">
          <mat-option *ngFor="let filterOption of filterOptions" [value]="filterOption.value">
            {{filterOption.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </mat-card>
  <mat-card fxFlex="1fr">
      <mat-form-field [hintLabel]="getHintLabel('favorited',favoritedItemFilter)">
          <mat-label>Favorited Items</mat-label>
        <mat-select [(value)]="favoritedItemFilter" [matTooltip]="filterOptions[favoritedItemFilter].tooltip">
          <mat-option *ngFor="let filterOption of filterOptions" [value]="filterOption.value">
            {{filterOption.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </mat-card>
  </div>

  <mat-card>
    <h4>Categories</h4>
    <p>Click/tap on a grey category to add it to the filters.  Once added, you will ONLY see items that belongs to that 
      category/those categories.
    </p>
    <mat-chip-list #chipList matTooltip="Tap category to add it to a filter">
      <ng-container *ngFor="let tag of getTags()" >
        <mat-chip *ngIf="getTagBadgeCount(tag)>0" 
          [removable]="false" (click)="selectTag(tag)" class="allow-overflow">
          {{tag}}
          <span class="chip-badge-internal">{{getTagBadgeCount(tag)}}</span>
        </mat-chip>
      </ng-container>
    </mat-chip-list>
  </mat-card>
  <mat-card *ngIf="getChosenTags().length>0">
      <p *ngIf="getChosenTags().length>0">Click on a purple category to turn it red and exclude it.  Items will only show in your 
        list if they INCLUDE all the purple categories
          AND do NOT include any of the red categories.</p>
          <div id="filter-container">
      <mat-chip-list #chipList matTooltip="Tap the 'X' to remove the category; tap the category to negate it (red means do NOT include this category)">
        <mat-chip [color]="isTagNegative(tag) ? 'warn' : 'primary'" selected *ngFor="let tag of getChosenTags()" 
          [removable]="true" (click)="toggleTagPolarity(tag)">
          {{tag}}
          <mat-icon matChipRemove (click)="removeTag(tag)">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card>


