  <mat-toolbar color="primary">
    <span>Filters</span>
    <span fxFlex="1 1 auto" class="fill-toolbar"></span>
    <span fxFlex="40px" matTooltip="Tap to close Filter Sidebar">
      <i class="material-icons icon-button" (click)="toggleFilter()" *ngIf="showFilters">
        chevron_left
      </i>
    </span>
  </mat-toolbar>
  
  <mat-card>
    <!-- <table>
      <tr>
        <td class="label">Sold Items</td>
        <td class="value">
          <fa-icon class="large-icon" [icon]="faHandHoldingUsd" (click)="toggleSoldFilter()"
             [ngClass]="FilterOptions[soldItemFilter]">
          </fa-icon>
        </td>
      </tr>
    </table> -->
    <mat-form-field>
      <mat-label>Sold Items</mat-label>
      <mat-select [(value)]="soldItemFilter" [matTooltip]="filterOptions[soldItemFilter].tooltip">
        <mat-option *ngFor="let filterOption of filterOptions" [value]="filterOption.value">
          {{filterOption.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
  <mat-card>
      <mat-form-field>
        <mat-label>Featured Items</mat-label>
        <mat-select [(value)]="featuredItemFilter" [matTooltip]="filterOptions[featuredItemFilter].tooltip">
          <mat-option *ngFor="let filterOption of filterOptions" [value]="filterOption.value">
            {{filterOption.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </mat-card>
  <mat-card>
      <mat-form-field>
        <mat-label>Favorited Items</mat-label>
        <mat-select [(value)]="favoritedItemFilter" [matTooltip]="filterOptions[favoritedItemFilter].tooltip">
          <mat-option *ngFor="let filterOption of filterOptions" [value]="filterOption.value">
            {{filterOption.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </mat-card>

  <mat-card>
    <h2>Categories</h2>
    <p>Click/tap on a grey category to add it to the filters.  Once added, you will ONLY see items that belongs to that category.  If you click
      on the now-purple category, it will turn red which means you will ONLY see items that do NOT belong to that category.  Click on the 'x' to 
      remove the category from the filters all together.
    </p>
    <mat-chip-list #chipList matTooltip="Tap category to add it to a filter">
      <ng-container *ngFor="let tag of getTags()" >
        <mat-chip *ngIf="getTagBadgeCount(tag)>0" 
          [removable]="false" (click)="selectTag(tag)" class="allow-overflow">
          {{tag}}
          <span class="chip-badge-internal">{{getTagBadgeCount(tag)}}</span>
        </mat-chip>
      </ng-container>
    </mat-chip-list>
  </mat-card>
  
  <mat-card>
    <div id="filter-container">
      <br />
      <mat-chip-list #chipList matTooltip="Tap the 'X' to remove the category; tap the category to negate it (red means do NOT include this category)">
        <mat-chip [color]="isTagNegative(tag) ? 'warn' : 'primary'" selected *ngFor="let tag of getChosenTags()" 
          [removable]="true" (click)="toggleTagPolarity(tag)">
          {{tag}}
          <mat-icon matChipRemove (click)="removeTag(tag)">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card>


