/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.icon-button {
    padding: 5px;
    margin: 4px;
}

.icon-button:hover {
    background-color: grey;
    border-radius: 30%;
    color: white;
    cursor: pointer;
}

.favorited {
    color: gold;
}