
.dashboard-card {
    height: 100%;
    min-width: 350px;
  }
  
  .mat-card-header-text {
    width: 100%;
    position: relative;
    margin-left: 0px!important;
  }
  
  .card-tools {
    position: absolute;
    top: 0px;
    right: 10px;
  }
  
  .card-tools i {
    position: relative;
    top: 8px !important;
  
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  
  table {
    text-align: left;
  }
  td.image {
    text-align: center;
    width: 50%;
  }
  
  .card-text-xs {
    text-align: center;
  }
  .card-text {
    text-align: left;
  }
  
  .content-container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .content-grid {
    position: relative;
    margin: auto;
    justify-content: space-around;
    height: 100%
  }
  .card-text-grid {
    /* margin: auto; */
    position: relative;
    top:0;
    bottom:0;
    height: 100%;
  }
  
  .text-flexbox {
    height: 100%;
    position: relative;
    top: 0;
    bottom: 0;
  }
  
  .flex-image {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table-cell;
    vertical-align: middle
  }
  
  .flex-image img {
    width: 100%;
  
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(129, 124, 124, 0.521);
    z-index: 50;
    /* text-align: center;
    max-width: 800px; */
  }
  /* .overlay img {
  
    max-height: 100%;
    max-width: 100%;
  
  } */
  .sold {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }
  
  .linkedin-color {
    color: #0077B5;
  }
  
  .facebook-color {
    color:#4267b2;
  }
  
  .twitter-color {
    color:#38A1F3;
  }
  
  .pinterest-color {
    color: #BD081C;
  }
  
  .instagram-color {
    color: #231F20;
  }
  .email-color {
    color: darkred;
  }
  
  fa-icon {
    margin: 8px;
  }
  
  
  .item-description {
    font-size: large;
    width: 100%;
  }
  
  .item-details {
    font-size: large;
    font-weight: bold;
    width: 100%;
  }
  .item-details-header {
    font-size: smaller;
    font-variant: small-caps;
  }

  
.mat-badge-content {
  left: 18px;
  top: 16px!important;
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  opacity: .9;
}
.icon-button-badge-below > .mat-badge-content {
  top: 16px!important;
}
.icon-button-badge-above > .mat-badge-content {
  top: -3px!important;
}  
  