<ng-container *ngIf="item">

  <mat-card class="dashboard-card" *ngIf="!isFiltered(item)">

      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isSold(item)" class="overlay"
          matTooltip="So, this item is sold.  Sorry.  If you don't want to look at these, set your filter to exclude 'sold' items (in the filter sidebar, select the 'sold' category, then tap it to turn it red and exclude it)">
        <img class="sold" src="assets/sold.png">
      </div>
      <mat-card-header>
        <mat-card-title>
          {{item.name}}
          
          <div class="card-tools">
            <span fxHide.xs><ng-container *ngTemplateOutlet="buttons;context:{item:item}"></ng-container></span>
            <span fxHide.gt-xs >
              <mat-icon class="menu" [matMenuTriggerFor]="hiddenMenu">menu</mat-icon>
              <mat-menu #hiddenMenu="matMenu">
                <ng-container *ngTemplateOutlet="buttons;context:{item:item}"></ng-container>
              </mat-menu>
            </span>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="content-container">
        <!-- <ng-container *ngIf="!isShowingComments(item)">   -->
          <!-- flexbox horizontal with 2 columns -- picture and text (changes to 2 rows and 1
                column when size is xs -->
          <div class="content-grid" fxLayout.xs="column" fxLayout="row"
            fxLayoutAlign.xs="center center" fxLayoutAlign="center center"
            fxLayoutGap="15px" >
            <div class="flex-image" fxFlex="40%" *ngIf="(item.pictureUrl && item.pictureUrl>'') || item.primaryAsset" 
                  matTooltip="These photos are NOT (repeat, NOT) necessarily photos of the actual objects. Taking all those pictures is really hard.  So the internet provides">
              <img *ngIf="item.pictureUrl && item.pictureUrl > '' && ! item.primaryAsset" [src]="'assets/items/' + item.pictureUrl"  class="img-wrap" >
              <img *ngIf="item.primaryAsset" [src]="item.primaryAsset.url"  class="img-wrap" >
            </div>
            <!-- second column of above flexbox, -->
            <div fxFlex="60%" class="text-flexbox">
              <!-- new Flexbox (vertical) for text information of item -->
              <p class="item-description">
                <span [innerHTML]="truncateItemDescription(item.description)"></span> 
                  <span *ngIf="isTruncated" class="expand-me" (click)="toggleTruncate()">(more)</span>
                  <span *ngIf="isTruncated===false" class="expand-me" (click)="toggleTruncate()">(less)</span>
                </p>
              <br />
              <p class="item-details">
                <span [innerHTML]="formatItemDetails(item, true)" class="item-details-header">
                </span>
                <br />
                <span [innerHTML]="formatItemDetails(item)" class="item-details-header">
                </span>
              </p>
            </div>            
          </div>
    </mat-card-content>

  </mat-card>
</ng-container>
<ng-template #buttons let-item="item">
    <i class="material-icons-outlined icon-button" *ngIf="isAdmin()" (click)="editItem(item)">
        edit
      </i>
      <!-- Did not like the traditional positioning of matBadge, so did my own with icon-button-badge-below/above (always on right) -->
      <!-- [matBadge]="item.commentCount" matBadgeSize="medium" [matBadgeHidden]="!item.commentCount"> -->
      <i mat-icon-button matTooltip="Read comments (add comments if you are logged in)"
          class="material-icons-outlined icon-button icon-button-badge-above" 
          [matBadge]="item.commentCount"  matBadgeSize="medium" [matBadgeHidden]="!item.commentCount"
          (click)="toggleComments(item)">
        chat
      </i>
      <span>
        <i class="material-icons-outlined icon-button icon-button-badge-above" *ngIf="!isFavorited(item)" (click)="toggleFavorite(item)"
        [matTooltip]="favoritedBy(item)"
        [matBadge]="countFaves(item)" matBadgeSize="medium" [matBadgeHidden]="!countFaves(item)">
          favorite_border
        </i>
        <i class="material-icons favorited icon-button icon-button-badge-above" *ngIf="isFavorited(item)" (click)="toggleFavorite(item)"
          [matTooltip]="favoritedBy(item)"
          [matBadge]="countFaves(item)" matBadgeSize="medium" [matBadgeHidden]="!countFaves(item)">
          favorite
        </i>
      </span>
    <i class="material-icons-outlined icon-button"  [matMenuTriggerFor]="itemMenu" 
            matTooltip="Ask questions, make an offer, otherwise communicate with us">email</i>
    <mat-menu #itemMenu="matMenu">
      <a mat-menu-item tabindex="-1" [href]="getAdminEmailForItem(item)" target="_blank">
        <mat-icon>email</mat-icon>
        <span>Email Us</span>
      </a>
      <a mat-menu-item tabindex="-1" [href]="getEmailForItem(item)" target="_blank">
        <mat-icon>contact_mail</mat-icon>
        <span>Share by email</span>
      </a>
      <button mat-menu-item tabindex="-1" (click)="contactUs()">
        <mat-icon>message</mat-icon>
        <span>Message Us</span>
      </button>
    </mat-menu>

</ng-template>

